.table__cards {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding: 30px 0px;
}
.table__card {
  padding: 20px 0px;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px #00000040;
  transition: 1s;
}

.table__card:hover {
  background-color: #02897A;
  color: white;
}

.table__card:hover .table__card__title {
  color: white;
}
.table__card:hover .table__text {
  color: white;
}

.table__card:hover .card__title {
  color: white;
}
.table__title {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--primaryColor);
}

.table__text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--primaryColor);
}

.card__title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  color: var(--primaryColor);
}

.table__text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  padding: 5px 0px;
  color: var(--primaryColor);
}

.table__card__title {
  font-family: Poppins;
  font-size: 76px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #02897A;
}


@media (max-width:900px) {
  .table__cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .table__card {
    width: 45%;
  }
}

@media (max-width:650px) {
  .table__card {
    width: 70%;
  }
}

@media (max-width:500px) {
  .table__card {
    width: 100%;
  }
}